

<form role="form" action="" method="post" class="f1 foobar">
    <div class="f1-steps">
        <div class="f1-progress">
            <div class="f1-progress-line" data-now-value="{{progressBarPct}}" data-number-of-steps="{{numberOfSteps}}" style="width:{{progressBarPct}}%;"></div>
        </div>
        <div class="f1-step active" ng-class="">
            <div class="f1-step-icon"><i class="fa fa-user"></i></div>
            <p>Client</p>
        </div>
        <div class="f1-step" ng-class="step>1?'active':''">
            <div class="f1-step-icon"><i class="fa fa-medkit"></i></div>
            <p>Drug</p>
        </div>
        <div class="f1-step" ng-class="step>2?'active':''">
            <div class="f1-step-icon"><i class="fa fa-stethoscope"></i></div>
            <p>Studies</p>
        </div>
        <div class="f1-step" ng-class="step>3?'active':''">
            <div class="f1-step-icon"><i class="fa fa-calendar"></i></div>
            <p>Deliverables</p>
        </div>
        <div class="f1-step" ng-class="step>4?'active':''">
            <div class="f1-step-icon"><i class="fa fa-file-text-o"></i></div>
            <p>Reports</p>
        </div>
    </div>



    <div class="row" ng-show="step == 1" class="fade">
        <h4>Select a client</h4>
        <div class="col-sm-1 col-md-1 col-lg-1 text-right"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <select class="form-control" id="client" ng-options="client.name for client in clients | orderBy:'name'" ng-model="report.client" ng-change="handleClientChanged()">
            </select>

        </div>
        <div class=" btn-group">
            <button type="button" class="btn btn-default btn-sm btn-add-client" ng-click="handleEditClient(true)">Add Client</button>
            <button type="button" ng-show="report.client.id != null" class="btn btn-default btn-sm btn-add-client" ng-click="handleEditClient()">Edit Client</button>
        </div>
    </div>


    <div class="row" ng-show="step == 2" class="fade">
        <h4>Select a drug for {{report.client.name}}</h4>
        <div class="col-sm-3 col-md-3 col-lg-3 text-right"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <select class="form-control" id="drugs" ng-options="drug.name for drug in report.client.drugs"
                    ng-model="report.drug">
            </select>

        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 ">
            <button type="button" class="btn btn-default btn-add-drug" ng-click="handleEditDrug(true)">Add New Drug</button>
            <button type="button" ng-show="report.drug.id != null" class="btn btn-default btn-sm btn-add-client" ng-click="handleEditClient()">Edit Drug</button>
        </div>
    </div>

    <div class="row" ng-show="step == 3">
        <h4>Select a study for {{report.client.name}}/{{report.drug.name}}</h4>
        <div class="col-sm-3 col-md-3 col-lg-3 text-right"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 ">
            <select class="form-control" id="studies" ng-options="study.name for study in report.drug.studies"
                    ng-model="report.study">
            </select>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 ">
            <button type="button" class="btn btn-default btn-add-drug" ng-click="handleEditStudy(true)">Add New Study</button>
            <button type="button" ng-show="report.study.id != null" class="btn btn-default btn-sm btn-add-client"
                    ng-click="handleEditStudy()">Edit Study</button>
        </div>
    </div>

    <div class="row" ng-show="step == 4">
        <h4>Select one or more deliverables and set there dates:</h4>
        <button type="button" class="btn btn-default btn-add-drug">Add New Deliverable</button>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="deliverable in deliverables.slice(((paging.deliverables.currentPage-1)*paging.deliverables.itemsPerPage), ((paging.deliverables.currentPage)*paging.deliverables.itemsPerPage))">
                <td><input type="checkbox"  ng-value="deliverable"></td>
                <td>{{deliverable.id}}</td>
                <td>{{deliverable.name}}</td>
                <td>
                    <md-datepicker ng-model="deliverable.date" md-placeholder="Enter date"></md-datepicker>
                </td>
            </tr>
            </tbody>
        </table>
        <ul uib-pagination items-per-page="paging.deliverables.itemsPerPage" total-items="deliverables.length" ng-model="paging.deliverables.currentPage"></ul>

    </div>

    <div class="row" ng-show="step == 5">
        <h4>Run the report</h4>
        You will be running a report for {{client.name}} for {{client.drug.name}} for {{client.drug.study.name}}, the report settings are below:
    </div>

    <div class="row top-buffer" >
        <div class="col-sm-12 col-md-12 col-lg-12 pull-right text-right">
            <button type="button" class="btn btn-default btn-previous" ng-click="incrementStep(-1)" ng-show="step>1">Previous</button>
            <button type="button" class="btn btn-primary btn-next" ng-click="incrementStep(1)" ng-disabled="">Next</button>
        </div>
    </div>

</form>

<pre ng-show="true">
{{clients | json}}
</pre>

<script type="text/ng-template" id="add_client.html">

    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>

</script>

