

<div class="panel panel-primary">
    <div class="panel-heading">
        Report Wizard
    </div>
    <div class="panel-body">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 text-center" ng-class="step>0?'icon_success':''">
                    <i class="fa fa-user"></i><i class="fa fa-check" ng-show="step>0"></i>
                    <p>Client</p>
                </div>
                <div class="col-sm-2 text-center" ng-class="report.drug.id != null?'icon_success':''">
                    <i class="fa fa-medkit"></i><i class="fa fa-check" ng-show="report.drug.id != null"></i>
                    <p>Drug</p>
                </div>
                <div class="col-sm-2 text-center"  ng-class="report.study.id != null?'icon_success':''">
                    <i class="fa fa-stethoscope"></i><i class="fa fa-check" ng-show="report.study.id != null"></i>
                    <p>Studies</p>
                </div>
                <div class="col-sm-2 text-center"  ng-class="report.deliverables != null?'icon_success':''">
                    <d<i class="fa fa-calendar"></i><i class="fa fa-check" ng-show="report.deliverables != null"></i>
                    <p>Deliverables</p>
                </div>
                <div class="col-sm-2 text-center"  ng-class="report.parameters.header != null?'icon_success':''">
                    <i class="fa fa-file-text-o"></i><i class="fa fa-check" ng-show="step>0"></i>
                    <p>Reports</p>
                </div>
            </div>

        </div>


        <form role="form" action="" method="post">

            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    <label for="client">Client</label>
                    <div class="input-group">
                        <select class="form-control" id="client" ng-options="client.name for client in clients | orderBy:'name'"
                                ng-model="report.client" ng-change="handleClientChanged()"></select>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-click="handleEditClient(true)"
                                    aria-haspopup="true" aria-expanded="false">Add <span class="fa fa-plus"></span></button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-disable="report.client.id == null"  ng-click="handleEditClient()"
                                    aria-haspopup="true" aria-expanded="false">Edit <span class="fa fa-pencil"></span></button>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <div class="row" ng-show="report.client.id != null">
                <div class="col-sm-offset-3 col-sm-6">
                    <label for="drug">Drug</label>
                    <div class="input-group">
                        <select class="form-control" id="drug" ng-options="drug.name for drug in report.client.drugs"
                                ng-model="report.drug">
                        </select>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-click="handleEditDrug(true)"
                                    aria-haspopup="true" aria-expanded="false">Add <span class="fa fa-plus"></span></button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-disable="report.drug.id == null"  ng-click="handleEditDrug()"
                                    aria-haspopup="true" aria-expanded="false">Edit <span class="fa fa-pencil"></span></button>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <div class="row" ng-show="report.drug.id != null">
                <div class="col-sm-offset-3 col-sm-6">
                    <label for="study">Study</label>
                    <div class="input-group">
                        <select class="form-control" id="study" ng-options="study.name for study in report.drug.studies"
                                ng-model="report.study">
                        </select>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-click="handleEditStudy(true)"
                                    aria-haspopup="true" aria-expanded="false">Add <span class="fa fa-plus"></span></button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    ng-disable="report.study.id == null"  ng-click="handleEditStudy()"
                                    aria-haspopup="true" aria-expanded="false">Edit <span class="fa fa-pencil"></span></button>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <div class="row" ng-show="report.study.id != null">
                <div class="col-sm-offset-3 col-sm-6">
                    <label>Deliverables</label>

                    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th><input type="checkbox" /></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th><button type="button" class="btn btn-default btn-add-drug" ng-click="handleEditDeliverable(true)"> Add<span class="fa fa-plus"></span></button></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="deliverable in report.study.deliverables">
                            <td><input type="checkbox" class="deliverable_checkbox"
                                       ng-checked="selection.id == deliverable.id"
                                       ng-click="toggleDeliverableSelection(deliverable)"
                                       ng-model="deliverable.checked" /></td>
                            <td>{{deliverable.id}}</td>
                            <td>{{deliverable.name}}</td>
                            <td>{{deliverable.date | date : format : shortDate }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-default" ng-click="handleDeleteDeliverable(deliverable.id)">
                                    Delete <i class="fa fa-minus-circle danger"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<ul uib-pagination items-per-page="paging.deliverables.itemsPerPage" total-items="deliverables.length" ng-model="paging.deliverables.currentPage"></ul>-->

                </div>

            </div>

            <div class="row" ng-show="report.deliverables != null && report.deliverables.length > 0">
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Report Parameters</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="report_header">Report header</label>
                                    <input class="form-control" type="text" id="report_header" ng-model="report.parameters.header"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary pull-right" type="button" ng-click="handleRunReport()">Run Report</button>
                                </div></div>

                        </div>
                    </div>
                </div><!-- /.col-lg-6 -->
            </div>
        </form>


    </div>
</div>


<pre ng-show="false">
{{report | json}}
</pre>

<!--<script type="text/ng-template" id="add_client.html">-->

    <!--<div class="modal-header">-->
        <!--<h3 class="modal-title" id="modal-title">I'm a modal!</h3>-->
    <!--</div>-->
    <!--<div class="modal-body" id="modal-body">-->
        <!--<ul>-->
            <!--<li ng-repeat="item in $ctrl.items">-->
                <!--<a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--Selected: <b>{{ $ctrl.selected.item }}</b>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>-->
        <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
    <!--</div>-->

<!--</script>-->

