
body {
    font-family: 'Roboto', sans-serif;
    /*font-size: 16px;*/
    /*font-weight: 300;*/
    /*color: #888;*/
    /*line-height: 30px;*/
}


.md-datepicker-calendar-pane { z-index: 10000 !important; }

.icon_success {color: green;}




